<script setup lang="ts">
    import { useAddressBookStore } from '@/stores/addressBookStore';

    const addressBookStore = useAddressBookStore()
</script>

<template>
            <div v-if="addressBookStore.isAddNew">
            <div>

                <div>
                    <label for="name">name: </label>
                    <input id="name" type="text" v-model="addressBookStore.address.name">
                </div>
                <div>
                    <label for="gender">gender: </label>
                    <select id="gender" v-model="addressBookStore.address.gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div>
                    <label for="tel">Tel: </label>
                    <input id="tel" type="text" v-model="addressBookStore.address.tel">
                </div>
            </div>
            <div style="text-align: center; ">
                <button style="background-color: red;"  @click="addressBookStore.isAddNew = !addressBookStore.isAddNew">Cancle</button>
                <button style="background-color: greenyellow;" @click="addressBookStore.save()">Save</button>

            </div>
        </div>
</template>

<style scoped>
input,
select,
label,
button {
    font-family: 'Kanit';
    font-size: 20pt;
    margin: 5px;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>