<script setup lang="ts">
    import MessageBox from '@/components/MessageBox.vue';
    import MessageList from '@/components/MessageList.vue';

import { nextTick, ref } from 'vue';


    const messages = ref<string[]>([''])
        const answers = ['Hello', 'How are you?', 'Nice to talk to you!!', 'I want to go out the here!!!']
    const messageList = ref<typeof MessageList | null>(null)
    function send(message: string){
        messages.value.push(message)
        answerComputer()
    }
    
    function answerComputer() {
        const answer = answers[Math.floor(Math.random()*10000)% answers.length]
        messages.value.push(answer)
        nextTick(() => {
            messageList.value?.updateUI()
            console.log('nextick')
        })

    }
</script>

<template>
    <div>
        <MessageList ref="messageList" :messages = "messages"></MessageList>
        <MessageBox @send = "send" ></MessageBox>
    </div>
</template>

<style scoped></style>